<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_address_save_after">
		<observer instance="Konstructive\Oneaddress\Observer\Customer\AddressSaveAfter" name="konstructive_oneaddress_observer_customer_addresssaveafter_customer_address_save_after"/>
	</event>
</config>
